/* START - CUSTOM */
.container {
  min-width: 100%;
  margin: 0;
  padding: 0 10px;
}

.text-justify {
  text-align: justify !important;
}

.infos {
  float: left;
}

.scrollit {
  float: right;
  width: 70%;
}

@media screen and (min-width: 1200px) {
  .fixed-xl-top {
    position: fixed;
  }
}
/* END - CUSTOM */

body {
  font-family: 'Times New Roman', Times, serif;
}

#menu,
h1,
h2 {
  font-weight: bold;
}

h1 {
  font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
  font-size: 45px;
}

h2 {
  font-size: 25px;
}

h3 {
  color: #a21a1a;
  font-size: 25px;
  font-weight: bolder;
  line-height: 15px;
}

h4 {
  font-size: 20px;
  line-height: 12px;
}

.headline {
  background-color: #a21a1a;
  color: white;
  border-radius: 5px;
}

ul {
  list-style: square;
}

p {
  font-style: italic;
}

.second_column {
  border-color: #be5f5f !important;
}

.portrait {
  max-height: 150px;
}

a {
  text-decoration: none;
  color: #550000;
}

a:hover {
  color: #d46a6a;
}

.summary {
  z-index: -1;
}

#menu {
  color: #550000;
}

.separation {
  padding-right: 5px;
  border-right: 1px solid #ccc;
}
