/* START - CUSTOM */
.container {
  margin: 0 !important;
  min-width: 100%;
}

.text-justify {
  text-align: justify !important;
}

.fixed-top {
  position: initial;
}

@media only screen and (min-width: 800px) {
  .fixed-top {
    position: fixed;
    width: 25%;
  }
}

.scrollit {
  float: right;
  width: 71%;
}

/* END - CUSTOM */